@model IdealActions.Domain.KnowledgeBaseEntry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KnowledgeBaseEntry</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.KnowledgeBaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KnowledgeBaseDate)
            @Html.ValidationMessageFor(model => model.KnowledgeBaseDate)
        </div>

        @Html.HiddenFor(model => model.UserName)

          <label>Select Category<span style="color: red">*</span>:</label> 
                  @Html.DropDownListFor(model => model.KnowledgeBaseCategoryId, new SelectList(ViewBag.KnowledgeBaseCategoryList, "KnowledgeBaseCategoryId", "Category"), " -- Please select category -- ", new { @class = "dropdown" }) 
                @Html.ValidationMessageFor(m => m.KnowledgeBaseCategoryId) 

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Details)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Details)
            @Html.ValidationMessageFor(model => model.Details)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
