@model IdealActions.Domain.KnowledgeBaseCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>KnowledgeBaseCategory</legend>

    @Html.HiddenFor(model => model.UserName)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.KnowledgeBaseCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
